*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/*-----------------------------------------*/
/*-----------------------------------------*/



/*-----------------------------------------*/
/*-----------------------------------------*/
.container{
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: rgb(63, 148, 148);
}
.container embed{
    width: 100%;
    height: calc(100vh - 4rem);
}
/*
.pdf-style{
    width: 100%;
    height: 100%;
}*/