/*--- Diseño Base ---*/
*{
    padding: 0;
    margin: 0;
}
:root{
    --color-primario: #2b2a44;
    --color-primario-sec-nav: #536cb1;
    --color-prim-page: #434175;
}
a{
    text-decoration: none;
}
/*--------------------------------*/
.sub-menu{
    width: 100%;
    height: 3.3rem;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sub-menu a{
    color: #536cb1;
    font-size: 1.2rem;
    margin: 0 1rem;
}
.sub-menu a .circle{
    width: 2.5rem;
    height: 2.5rem;
    transition: .3s;
    background-color: #acbec9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-menu a .circle:hover{
    color: #ff9532;
    background-color: #c4e4f8;
}
/*-----------------*/
/*-----------------*

.g-container{
    width: 100%;
    min-height: calc(100vh - 9rem);
    background-color: #fff1dc;
    display: flex;
    align-items: center;
}
.filtro-window{
    width: 15%;
    min-height: calc(100vh - 6rem);
    background-color: #ffffff;
    box-shadow: 0 0 3px #b8b8b8;
    /*border-radius: 1rem;
    /*margin-left: 4rem;*
    margin-top: 3rem;*
    margin-bottom: 5rem;*
}
.margin{
    padding-left: 1rem;
    padding-top: 1rem;
}
.margin h2{
    margin-top: 2rem;
}.margin h3{
    margin-top: .8rem;
}.line-l{
    width: 95%;
    height: .1rem;
    margin-top: 1.5rem;
    background-color: #0e0e0e;
}
.box-option{

}
input[type=button]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #0e0e0e;
    border-radius: 10px;
    transition: all .2s;
  }
  input[type=button]:hover{
    background-color: #c2ecff;
    border: 1px solid #6bb3d4;
    cursor: pointer;
  }
/*----------------------------*
.view-data-container{
    width: 85%;
    min-height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-data{
    width: 90%;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px #b8b8b8;
}
*/
/*----------------------------*/
.gran-container{
    width: 100%;
    height: calc(100vh - 7.3rem);
    background-color: #fff8f3;
    display: flex;
    justify-content: center;
}

.panel-graficDate, .panel-dashBoard, .panel-dataBase{
    width: 95%;
    min-height: 90%;
    height: 90%;
    background-color: #434175;
    margin-top: 3rem;
    box-shadow: 0 0 7px #313131;
}
.panel-graficDate{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.panel-dashBoard{
    display: none;
}
.panel-dataBase{
    display: none;
}
/*------------------*/
.widget-box{
    max-width: 21rem;
    max-height: 21rem;
    width: 20rem;
    height: 20rem;
    background-color: #38375f;
    margin: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}
.widget-Title{
    margin: 1rem;
    color: #fff8f3
}
.widget-Temperature{
    transform: rotate(10deg);
}
.widget-Humedad{
    transform: rotate(45deg);
}
.widget-Temperature, .widget-Humedad{
    width: 20rem;
    height: 20rem;
    /*background-color: #ff9532;*/
    margin: auto;
    border-radius: 50%;   
    overflow: hidden;
}
.widget-Temperature .cont, .widget-Humedad .cont{
    display: flex;
    width: 20rem;
    height: 10rem;
    
}
.p1{
    background-color: #ff9532;
}
.p2{
    background-color: #3292ff;
}
.circle-center{
    display: flex;
    width: 15rem;
    height: 15rem;
    background-color: #38375f;
    border-radius: 50%;
    margin: auto;
    position: relative;
    margin: -17.5rem auto -10rem;
}
.telon-inf{
    display: flex;
    width: 20rem;
    height: 10rem;
    background-color: #38375f;
    margin: auto;
    position: relative;
    margin-top: 2.5rem;
}
.marrcador{
    position: relative;
    margin-top: -12rem;
    color: #fff8f3;
}