/*--- Diseño Base ---*/
*{
    padding: 0;
    margin: 0;
}
:root{
    --color-primario: #2b2a44;
    --color-primario-sec-nav: #536cb1;
    --color-prim-page: #434175;
}
a{
    text-decoration: none;
}
/*--------------------------------*/
.sub-menu{
    width: 100%;
    height: 3.3rem;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sub-menu a{
    color: #536cb1;
    font-size: 1.2rem;
    margin: 0 1rem;
}
.sub-menu a .circle{
    width: 2.5rem;
    height: 2.5rem;
    transition: .3s;
    background-color: #acbec9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-menu a .circle:hover{
    color: #ff9532;
    background-color: #c4e4f8;
}
/*-----------------*/
/*-----------------*/

.g-container{
    width: 100%;
    min-height: calc(100vh - 9rem);
    background-color: #fff1dc;
    display: flex;
    align-items: center;
}
.filtro-window{
    width: 15%;
    min-height: calc(100vh - 6rem);
    background-color: #ffffff;
    box-shadow: 0 0 3px #b8b8b8;
    /*border-radius: 1rem;
    /*margin-left: 4rem;*
    margin-top: 3rem;*
    margin-bottom: 5rem;*/
}
.margin{
    padding-left: 1rem;
    padding-top: 1rem;
}
.margin h2{
    margin-top: 2rem;
}.margin h3{
    margin-top: .8rem;
}.line-l{
    width: 95%;
    height: .1rem;
    margin-top: 1.5rem;
    background-color: #0e0e0e;
}
.box-option{

}
input[type=button]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #0e0e0e;
    border-radius: 10px;
    transition: all .2s;
  }
  input[type=button]:hover{
    background-color: #c2ecff;
    border: 1px solid #6bb3d4;
    cursor: pointer;
  }
/*----------------------------*/
.view-data-container{
    width: 85%;
    min-height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-data{
    width: 90%;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px #b8b8b8;
}
/*---------------------------------------------------*/
.pie-pag{
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}