<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatchery Hen - Informe</title>
    <!-- --ACCES-- -->
    <link rel="stylesheet" href="../css/informe.css">
    <link rel="stylesheet" href="../css/nav-bar.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/nav-bar-small.css">
    <!-- ---------------------------------------------- -->
</head>
<body>
    <main>
        <header>
            <div class="nav-container">
                <img class="logo" src="../resource/images/Logo_Universidad_Politécnica_Salesiana_del_Ecuador.png" alt="">
                <div class="nav-desktop">
                    <nav class="nav-bar">
                        <a class="nav-link" href="../index.html"><p class="nav-text">Inicio</p></a>
                        <a class="nav-link" href="monitoreo.html"><p class="nav-text">Monitoreo</p></a>
                        <a class="nav-link" href="#"><p class="nav-text">Data</p></a>
                        <a class="nav-link" href="informe.html"><p class="nav-text">Proyecto</p></a>
                    </nav>
                    <img src="../resource/images/logo-UPS/superior shotweif logo - v2.png" alt="">
                </div>
                <div class="nav-movil">
                </div>
            </div>
        </header>
        <!-- ------------------------------------------------------------------------- -->
        
        
    </main>
     <!-- ------------------------------------------------------------------------- -->
     <footer>

     </footer>
</body>
</html>